*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes mymove {
   0% { border-color: #ace3de; }
  25% { border-color: #cee4e2; }
  50% { border-color: #83a29e; }
  75% { border-color: #5cb4ac; }
  100% { border-color: #009688; }
}
@keyframes mymove2 {
   from { box-shadow: 0 0 40px #ace3de;}
  to { box-shadow: 0 0 40px #009688; }
}

body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../imgs/bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header
{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../imgs/bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 30px #009688;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


header nav {
    width: 400px;
}

header nav ul li
{
    list-style: none;   
    display: inline-block;
    position: relative;
}

header nav ul li::after
{
    content: '';
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: #009688;
    position: absolute;
    transition: 0.5s;
}

header nav ul li:hover::after
{
   width: 100%;
}

header nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    gap: 50px;
}

header img
{
    width: 100px;
    height: 100px;
}

.banner
{
    position: relative;
    height: 800px;
    width: 98%;
    background-color: transparent;
    /* background-color: #bc1888; */
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    margin-top: 2%;
    /* padding-left: 2%; */
    margin-left: 0.5%;
    /* padding: 10px; */
    border-radius: 15px;
}
.mrad
{
	height: 75%;
	width: 40%;
    position: absolute;
    border-radius: 30px;
    left: 0;
    margin-top: 50px;
    /* margin-right: 40px; */
    margin-left: 2%;
    /* box-shadow: 0 0 40px #009688; */
    /* transition: 0.5s; */
}


.mrad img
{
    /* border: 3px solid #ace3de; */
    /* z-index: 3; */
    /* border-left: 200px solid black; */
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    animation: mymove 2.5s infinite alternate;
    /* transition: 0.5s; */
}

.mrad:hover
{
    /* animation: mymove2 1.0s infinite alternate; */
}

section
{
    /* background-color: aqua; */
    margin-top: 40px;
    margin-right: 2%;
    position: absolute;
    padding: 10px;
    right: 0;
    width: 52%;
    height: 70%;
}

  
section .art1 h1
{
    font-size: 60px;
    margin-top: 17px;
}


section .art1 p
{
    font-size: 30px;
    line-height: 40px;
    margin-top: 40px;
}


section .art1
{
    padding: inherit;
    /* box-shadow: 0 0 30px #009688; */
    position: absolute;
    width: 100%;
    /* text-align: center; */
    right: 0;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #dc2743; */
    height:100%;
    /* border: 3px solid #ace3de; */
    animation: mymove 2.5s infinite alternate;
}


section .art1:hover
{
    /* animation: mymove2 1.0s infinite alternate; */
}


.links
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 40px;
    /* margin-right: 60px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 80px;
    width: 850px;
}



.link-skills
{
    position: absolute;
    margin-bottom: 40px;
    right: 0;
    bottom: 0;
    width: 61%;
    /* background-color: #bc1888; */
    display: flex;
    justify-content: center;
    gap: 65px;
}

.link-skills button 
{
    background-color: transparent;
    /* background-color: #fafbfb; */
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 50%;
}
.links button
{
    background-color: transparent;
    /* background-color: #fafbfb; */
    width: 69px;
    height: 69px;
    border: none;
    border-radius: 50%;
    /* box-shadow: 0 0 30px #5cb4ac; */
    transition: 0.5s;
    /* background-color: #d9dfdf; */

}

.links button:hover
{
    
    /* box-shadow: 0 0 30px #009688; */
    /* background-color: rgb(40, 40, 40); */
}


.fa-github
{
    font-size: 50px;
}
.fa-linkedin
{
    font-size: 50px;
    color: rgb(3, 155, 243);

}
.fa-instagram
{
    font-size: 50px;
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background-clip: text;
    color: transparent; 
}

.fa-html5
{
    font-size: 70px;
    color: #f26529;

}
.fa-css3-alt
{
    font-size: 70px;
    color: #477dd6;

}
.fa-js
{
    font-size: 70px;
    color: #f0db4f;

}
.fa-php
{
    font-size: 70px;
    color: #777bb3;

}
.fa-c
{
    font-size: 70px;
    color: #004482;

}
.fa-docker
{
    font-size: 70px;
    color: #019bc6;

}
.fa-react
{
    font-size: 70px;
    color: #55BDDA;

}
.fa-database
{
    font-size: 70px;
    color: #BCBBC0;

}