*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../imgs/bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header
{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../imgs/bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 30px #009688;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a
{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}


header nav {
    width: 400px;
}

header nav ul li
{
    list-style: none;   
    display: inline-block;
    position: relative;
}

header nav ul li::after
{
    content: '';
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: #009688;
    position: absolute;
    transition: 0.5s;
}

header nav ul li:hover::after
{
   width: 100%;
}

header nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    gap: 50px;
}

header img
{
    width: 100px;
    height: 100px;
}

main
{
    /* background-color: aqua; */
    height: 100vh;
}
main .info
{
    margin-top: 50px;
    margin-left: 40px;
}
main .info h1
{
    width: 140px;
    color: #d0f0ee;
    /* border-bottom: 2px solid #009688; */
}
main .info p
{
    font-size: 26px;
}
main section
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150%;
}
main section div
{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    padding-right: 10px;
    height: 30%;
    /* background-color: aqua; */
    /* background: transparent; */
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
main section div img
{
    width: 45%;
    margin-left: 30px;
    height: 90%;
    border-radius: 20px;
    transition: 0.5s;
}

main section div img:hover
{
    width: 47%;
    margin-left: 0;
    height: 100%;
}

main section div p
{
    margin-left: 40px;
    font-size: 26px;
    line-height: 35px;
}
main section div button
{
    padding: 1em 2em;
    /* line-height: 40px; */
    border-radius: 1000px;
    font-weight: bold;
    border: 2px solid #009688;
    background-color: transparent;
    color: #fff;
    cursor:pointer;
    width: 250px;
    height: 55px;
    border-radius: 80px;
    margin-top: 80px;
}
main section div button:hover
{
    background-image: linear-gradient(to bottom right, #009688, #ace3de);
    border-radius: 1000px;
    box-shadow: 40px 0 100px #ace3de , -40px 0 100px #009688;
}

.video-container {
    width: 45%;
    /* margin-left: 0; */
    height: 90%;
    border-radius: 20px;
    transition: 0.5s;
    overflow: hidden;
    max-width: 1000px;
    margin-left: 30px;
    transition: 0.5s;
}

.video-container:hover {
    width: 47%;
    margin-left: 0;
    height: 100%;
}

.videos .video-container
{
    padding-right: 0;
}
.video-container iframe
{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}