*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes mymove {
   0% { border-color: #ace3de; }
  25% { border-color: #cee4e2; }
  50% { border-color: #83a29e; }
  75% { border-color: #5cb4ac; }
  100% { border-color: #009688; }
}
@keyframes mymove2 {
   from { box-shadow: 0 0 40px #ace3de;}
  to { box-shadow: 0 0 40px #009688; }
}

body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header
{
    width: 100%;
    height: 10%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 30px #009688;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}


header nav {
    width: 400px;
}

header nav ul li
{
    list-style: none;   
    display: inline-block;
    position: relative;
}

header nav ul li::after
{
    content: '';
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: #009688;
    position: absolute;
    transition: 0.5s;
}

header nav ul li:hover::after
{
   width: 100%;
}

header nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    gap: 50px;
}

header img
{
    width: 100px;
    height: 100px;
}

.banner
{
    position: relative;
    height: 1010px;
    width: 98%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(20px);
    margin-top: 2%;
    margin-left: 0.5%;
    /* padding: 10px; */
    border-radius: 15px;
}
.mrad
{
	height: 80%;
	width: 40%;
    position: absolute;
    border-radius: 30px;
    right: 0;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 0 0 40px #009688;
    /* transition: 0.5s; */
}


.mrad img
{
    border: 3px solid #ace3de;
    /* z-index: 3; */
    /* border-left: 200px solid black; */
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    animation: mymove 2.5s infinite alternate;
    /* transition: 0.5s; */
}

.mrad:hover
{
    animation: mymove2 1.0s infinite alternate;
}

section
{
    /* background-color: aqua; */
    margin-top: 40px;
    margin-left: 30px;
    position: relative;
    padding: 10px;
    width: 52%;
    height: 80%;
}

section .art1
{
    padding: inherit;
    box-shadow: 0 0 30px #009688;
    position: absolute;
    width: 490px;
    left: 0;
    border-radius: 30px;
    height:40%;
    border: 3px solid #ace3de;
    animation: mymove 2.5s infinite alternate;
}
section .art2
{
    padding: inherit;
    box-shadow: 0 0 30px #009688;
    position: absolute;
    right: 0;
    width: 490px;
    border-radius: 30px;
    height:40%;
    border: 3px solid #ace3de;
    animation: mymove 2.5s infinite alternate;
}
section .art3
{
    padding: inherit;
    box-shadow: 0 0 30px #009688;
    position: absolute;
    bottom: 0;
    width: 490px;
    border-radius: 30px;
    height:40%;
    border: 3px solid #ace3de;
    animation: mymove 2.5s infinite alternate;
}
section .art4
{
    padding: inherit;
    box-shadow: 0 0 30px #009688;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 490px;
    border-radius: 30px;
    height:40%;
    border: 3px solid #ace3de;
    animation: mymove 2.5s infinite alternate;
}

section .art1:hover
{
    animation: mymove2 1.0s infinite alternate;
}
section .art2:hover
{
    animation: mymove2 1.0s infinite alternate;
}
section .art3:hover
{
    animation: mymove2 1.0s infinite alternate;
}
section .art4:hover
{
    animation: mymove2 1.0s infinite alternate;
}

.links
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    /* margin-right: 60px; */
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 850px;
}

.links button
{
    background-color: transparent;
    background-color: #fafbfb;
    width: 110px;
    height: 50px;
    border: none;
    border-radius: 8px;
    /* box-shadow: 0 0 30px #5cb4ac; */
    transition: 0.5s;
}

.links button:hover
{
    box-shadow: 0 0 30px #009688;
    background-color: #5cb4ac;
}

.links button a img
{
    width: 100px;
    height: 30px;
}