*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.banner
{
    /* width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bac2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    /* background-image: url(background.jpg); */
    /* background-repeat:no-repeat; */
    /* background-size:cover; */
    /* background-attachment: fixed; */
    /* padding-top: 10px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-content: center; */
}

header
{
    width: 100%;
    height: 10%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a
{
    text-decoration: none;
    font-size: 20px;
}


header nav {
    width: 400px;
}

header nav ul li
{
    list-style: none;   
    display: inline-block;
    position: relative;
}

header nav ul li::after
{
    content: '';
    height: 3px;
    left: 0;
    bottom: -10px;
    width: 0;
    background: #009688;
    position: absolute;
    transition: 0.5s;
}

header nav ul li:hover::after
{
   width: 100%;
}

header nav ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -200px;
    gap: 50px;
}

header img
{
    width: 100px;
    height: 100px;
}

main
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 90%;
}
main .content1
{
    position:relative;
    margin-top: -10%;
    margin-left: 10%;
    display: flex;
    width: 50%;
    height: 410px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

main .content1 h1
{
    font-size: 70px;
}

main .content1 h2
{
    font-size: 40px;
}
main .content1 p
{
    font-size: 25px;
}

main .content1 .buttons
{
    /* background-color: aqua; */
    position: absolute;
    left: 0;
    bottom: 0;
}

button
{
    width: 200px; 
    height: 50px;
    padding: 1em 2em;
    /* line-height: 40px; */
    border-radius: 1000px;
    font-weight: bold;
    border: 1px solid #009688;
    background-color: transparent;
    color: #fff;
    cursor:pointer;
    position: relative;
}

.bot1
{
    margin-left: 100px;
}

button div
{
    color: #fff;
    top: 25%;
    width: 100%;
    font-size: large;
    left: 0;
    text-align: center;
    position: absolute;
    z-index: 3;
}


button::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom right, #009688, #ace3de);
    border-radius: 1000px;
    transition: 0.5s;
}
button:hover::after
{
    z-index: 1;
    width: 100%;
    height: 100%;
    box-shadow: 40px 0 100px #ace3de , -40px 0 100px #009688;
}


/* button:hover span
{
    width: 100%;
}

button:hover
{
    border: none;
} */

main .content2
{
    margin-right: 10%;

    /* justify-content: right;
    align-items: ; */
}

main .content2 img
{
    margin-top: -10%;
    width: 500px;
    border: 3px solid rgb(84, 157, 162);
    border-radius: 50% 50%;
    /* box-shadow: 10px 0 500px #ace3de , -10px 0 500px #009688; */
    /* height: 300px; */
    transition: 0.5s;
}

main .content2 img:hover
{
    margin-top: -10%;
    width: 500px;
    border: 3px solid rgb(84, 157, 162);
    border-radius: 50% 50%;
    box-shadow: 10px 0 500px #ace3de , -10px 0 500px #009688;
    /* height: 300px; */
}

.compity
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
    margin-top: 35%;
    margin-left: 250px;
    width: 900px;
}
.compity div
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #e0f7fa;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: -50px;
    height: 120px;
    text-align: center;
    /* background-color: #ace3de; */
}

.compity div h3
{
    font-size: 40px;
    /* color: rgb(29, 35, 35); */
}
.compity div p
{
    /* color: rgb(48, 58, 58); */
    font-size: 20px;
}

.compity div:hover
{
  box-shadow: 0 0 10px rgba(0,198,255,0.4);
}
